.adv-list {
  .drop__list-style();
  margin-top: -14px;

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
  }

  &__title {
    margin: 0;
    font-family: "Open Sans Bold", sans-serif;
    font-size: 18px;
    margin-bottom: 11px;
  }

  &__text {
    margin: 0;
    font-size: 14px;
    line-height: 1.75;
    width: 280px;
    text-align: center;
  }
}

.adv-list__item:last-child .adv-list__text {
  margin-bottom: 40px;
}
