.main-nav {
  position: relative;
}

.main-nav__first-line-menu {
  display: block;
  width: 100%;
  height: 66px;
  background-color: rgba(@shadowDark, 0.2);
  transition: 0.3s linear;
}

.main-nav__list {
  .drop__list-style();
  background-color: @maincolor;
  display: none;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;

  li {
    list-style-type: none;
    display: flex;
    border-top: 1px solid @shadowLight;
    border-bottom: 1px solid @shadowDark;
  }

  li:first-child {
    border-top: 1px solid @shadowDark;
  }

  a {
    font-family: "Open Sans Bold", sans-serif;
    font-size: 18px;
    color: @contrastmaincolor;
    text-decoration: none;
    text-transform: uppercase;
    padding-top: 20px;
    padding-bottom: 17px;
    text-align: center;
    width: 100%;
  }
}

.main-nav__item--active {
  border-top: 1px solid @shadowLight;
}
