.page-header {
  background-color: @maincolor;
  color: @contrastmaincolor;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 42px;

  @media (min-width: @tablet-width) {
    min-width: @tablet-width;
    width: 100%;
    .block-center;
    margin-bottom: 55px;
  }

  &__nav {
    background-image: url("../img/bg-back-mobile@1x.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 28px;
    background-size: cover;
    @media (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-back-mobile@2x.jpg");
    }

    @media (min-width: @tablet-width) {
      background-image: url("../img/bg-back-tablet@1x.jpg");
      margin-bottom: 0;
      @media (min-resolution: @retina-dppx) {
        background-image: url("../img/bg-back-tablet@2x.jpg");
      }
    }

    @media (min-width: @desktop-width) {
      background-image: url("../img/bg-back-desktop@1x.jpg");

      @media (min-resolution: @retina-dppx) {
        background-image: url("../img/bg-back-desktop@2x.jpg");
      }
    }
  }

  &__logo {
    position: absolute;
    top: 22px;
    margin-left: 20px;

    @media (min-width: @tablet-width) {
      top: 27px;
    }

    @media (min-width: @desktop-width) {
      margin-left: 120px;
    }
  }

  &__vuewrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    img {
      display: block;
      width: 250px;
      z-index: -1;
    }

    @media (min-width: @tablet-width) {
      position: relative;
      img {
        width: 887px;
        min-height: 545px;
      }
    }

    @media (min-width: @desktop-width) {
      // img {
      // width: 250px;
      // }
    }
  }

  &__title {
    margin: 0;
    align-self: center;
    text-align: center;
    line-height: 30px;
    width: 240px;
    font-family: "Open Sans Light", sans-serif;
    font-size: 24px;
    margin-bottom: 28px;

    @media (min-width: @tablet-width) {
      padding-left: 75px;
      padding-top: 20px;
      width: 190px;
      font-size: 40px;
      line-height: 1.2;
      align-self: flex-start;
      margin-bottom: 0;
      position: absolute;
      top: 0px;
      left: 0;
    }
  }

  &--photo,
  &--form {
    margin-bottom: 45px;

    .page-header__nav {
      background-position: left 0 bottom -200px;
      margin-bottom: 0;
    }
  }

  &--photo {
    .main-nav {
      margin-bottom: 52px;
    }

    .page-header__title {
      margin-bottom: 80px;
    }
  }

  &--form {
    .page-header__title {
      padding-top: 0;
      margin-bottom: 53px;
    }

    .main-nav {
      margin-bottom: 53px;
    }
  }
}

.page-header__logo--menu {
  margin-bottom: 0;
  background-color: @maincolor;
}
