.page-header {
  background-color: @maincolor;
  color: @contrastmaincolor;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 42px;

  @media (min-width: @tablet-width) {
    min-width: @tablet-width;
    width: 100%;
    .block-center;
    margin-bottom: 55px;
  }

  &__nav {
    background: bottom url("../img/bg-back-mobile@1x.jpg") no-repeat;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 28px;
    background-size: cover;

    @media (min-width: @tablet-width) {
      background: bottom url("../img/bg-back-tablet@1x.jpg") no-repeat;
      background-position: bottom -78px center;
      margin-bottom: 0;
    }
  }

  &__logo {
    position: absolute;
    top: 22px;
    margin-left: 20px;

    @media (min-width: @tablet-width) {
      top: 27px;
    }

    @media (min-width: @desktop-width) {
      margin-left: 120px;
    }
  }

  &__vuewrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    img {
      width: 250px;
    }
  }

  &__title {
    margin: 0;
    align-self: center;
    text-align: center;
    line-height: 30px;
    width: 240px;
    font-family: "Open Sans Light", sans-serif;
    font-size: 24px;
    margin-bottom: 28px;

    @media (min-width: @tablet-width) {
      padding-top: 70px;
      padding-left: 65px;
      width: 190px;
      font-size: 40px;
      line-height: 1.2;
      align-self: flex-start;
    }
  }

  &--photo,
  &--form {
    margin-bottom: 45px;

    .page-header__nav {
      background-position: left 0 bottom -200px;
      margin-bottom: 0;
    }
  }

  &--photo {
    .main-nav {
      margin-bottom: 52px;
    }

    .page-header__title {
      margin-bottom: 80px;
    }
  }

  &--form {
    .page-header__title {
      padding-top: 0;
      margin-bottom: 53px;
    }

    .main-nav {
      margin-bottom: 53px;
    }
  }
}

.page-header__logo--menu {
  margin-bottom: 0;
  background-color: @maincolor;
}
