.page-header {
  background-color: @maincolor;
  color: @contrastmaincolor;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 42px;

  &__nav {
    background: bottom url("../img/bg-back-mobile@1x.jpg") no-repeat;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 28px;

    &--photo,
    &--form {
      background-position: top;
      margin-bottom: 0;
    }
  }

  &__logo {
    position: absolute;
    top: 22px;
    margin-left: 20px;
  }

  &__vuewrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__title {
    margin: 0;
    padding-top: 23px;
    align-self: center;
    text-align: center;
    line-height: 30px;
    width: 240px;
    font-family: "Open Sans Light", sans-serif;
    font-size: 24px;
    margin-bottom: 28px;

    &--photo{
      padding-top: 30px;
      margin-bottom: 80px;
    }

    &--form {
      padding-top: 30px;
      margin-bottom: 53px;
    }
  }
}

.page-header__logo--menu {
  margin-bottom: 0;
  background-color: @maincolor;
}
