.photos {
  display: flex;
  flex-direction: column;
  align-items: center;
  .block-center();
  font-family: "Open Sans Light", sans-serif;
  font-size: 14px;
  line-height: 2.1;

  &__agitation {
    margin: 3px 35px 49px 35px;
    text-align: center;
    font-size: 14px;
    line-height: 2.2;
    word-spacing: 2px;
  }
}
