.slider{
  margin: 0 auto;
	margin-top: 20px;
	position: relative;
	// width: $big_width;
	// height: 0;
	// padding-bottom: $big_height;
	user-select: none;
	background-color: #1c1c1c;
	// box-shadow: $box-shadow;

	input{
		display: none;
	}

	.slider__block{
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: -1;

		// .slider__item {
		// 	width: inherit;
		// 	height: inherit;
		// }

    .slider__prev,
    .slider__next{
			width: 12%;
			// height: inherit;
			position: absolute;
			top: 0;
			background-color: pink;
			z-index: 99;
			transition: 0.5s;
			cursor: pointer;
			text-align: center;
		}
		.slider__next{
			right: 0;
		}
		.slider__prev{
			left: 0;
		}

    .slider__prev:hover,
    .slider__next:hover{
			transition: 0.3s;
			background-color: red;
		}

    .slider__prev span,
    .slider__next span {
			position: absolute;
			width: 0px;
			height: 0px;
			border: solid 20px;
			top: 50%;
			transform: translateY(-50%);
		}

		.slider__prev span {
			border-color: transparent #fff transparent transparent;
			right: 35%;
		}
		.slider__next span {
			border-color: transparent transparent transparent #fff;
			left: 35%;
		}
	}

	.slider__dots {
		width: 100%;
		bottom: 12%;
		height: 11px;
		position: absolute;
		text-align: center;
		z-index: 99;
		cursor: default;

		.slider__dots-item {
			top: -5px;
			width: 18px;
			height: 18px;
			margin: 0 3px;
			position: relative;
			border-radius: 100%;
			display: inline-block;
			background-color: rgba(0, 0, 0, 0.6);
			transition: .4s;
			cursor: pointer;
		}

		#dot1:hover{background: black;}
    #dot2:hover{background: brown;}
    #dot3:hover{background: blue;}
	}
}

#slide1:checked ~ #one,
#slide2:checked ~ #two,
#slide3:checked ~ #three{
	z-index: 9;
	animation: scroll 1s ease-in-out;
}

#slide1:checked ~ .slider__dots-item #dot1 {background: black;}
#slide2:checked ~ .slider__dots-item #dot2 {background: brown;}
#slide3:checked ~ .slider__dots-item #dot3 {background: blue;}
